@using L5A2Programming.Areas.Admin.Models
@model IEnumerable<UserRolesViewModel>

@{
    ViewData["Title"] = "User Manager";
}

<h1>User Roles Management</h1>





 <div class="container">
    <div class="row">
        <div class="col">
            @*<form method="post" asp-action="AddRole" asp-controller="RolesManager">
                <div class="input-group">
                    <input name="roleName" class="form-control" placeholder="Role Name"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary">Add New Role</button>
                    </span>
                </div>
            </form>*@
        </div>
        <div class="col">

        <form method="get">
            <div class="clo">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Search by Email" id="search" name="search" value="@ViewData["search"]">
                    <button class="input-group-text" id="search" type="submit">Search</button>
                </div>
            </div>
        </form>

        </div>
     </div>
 </div>



<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>User Email</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Institution</th>
            <th>Role</th>
            <th>Manage Roles</th>
            <th>Manage Users</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.User.Email</td>
                <td>@user.User.FName</td>
                <td>@user.User.SName</td>
                <td>@user.User.Institution.Name</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Manage" asp-route-id="@user.User.Id">Roles</a>
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="ManageInstitution" asp-route-id="@user.User.Id">Institution</a>
                </td>
                 <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.User.Id">Delete User</a>
                </td>
            </tr>
        }
    </tbody>
</table>