@model IEnumerable<RoomModel>

@{
    ViewData["Title"] = "Room Overview";
}

<h1>Room Overview</h1>

 <div class="container">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
            <a asp-action="Create" class="btn btn-primary">Create Room</a>
            </div>
        </div>
        <div class="col">
            @*<form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search by Room Lable" id="search" name="search" value="@ViewData["search"]">
                        <button class="input-group-text" id="search" type="submit">Search</button>
                    </div>
            </form>*@
        </div>
     </div>
 </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Room Lable</th>
            <th scope="col">Institution</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var room in Model) {
        <tr>
            <th scope="row">@room.Id</th>
            <td>@room.Name</td>
            <td>@room.Institution.Name</td>

            <td>
                <a asp-controller="Room" asp-action="Edit" asp-route-id="@room.Id" class="btn btn-secondary">Edit</a> 
                <a asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>