@model IEnumerable<TicketModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Ticket Overview</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
            <a class="btn btn-primary" asp-action="Create">New Ticket</a>
            </div>
        </div>
        <div class="col">
            <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search by Asset Name" id="search" name="search" value="@ViewData["search"]">
                        <button class="input-group-text" id="search" type="submit">Search</button>
                    </div>
            </form>
        </div>
     </div>
 </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">By</th>
            <th scope="col">Date</th>
            <th scope="col">Resolved</th>
            <th scope="col">Room</th>
            <th scope="col">Asset</th>
            <th scope="col">Institution</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var ticket in Model)
        {
            <tr>
                <th scope="row">@ticket.Id</th>
                <td>@ticket.EmailAddress</td>
                <td>@ticket.dateTime</td>
                <td>@ticket.Resolved</td>
                <td>@ticket.Room.Name</td>
                <td>@ticket.Asset.AssetName</td>
                <td>@ticket.Institution.Name</td>
                <td>
                    <a class="btn btn-secondary" asp-controller="Ticket" asp-action="Details" asp-route-id="@ticket.Id">View</a>
                    @if(User.IsInRole("Admin"))
                    {
                    <a class="btn btn-danger" asp-controller="Ticket" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                    }
            </tr>
        }


    </tbody>
</table>
